/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}



/* 
esercizio2:
1- trovare il quadratino in html;
2-click prolungato sul quadratino;
3-temporizzo il click.
*/

.ex-2-square {
  transition: 1s;
}

.ex-2-square:active {
  width: 100%;
}



/* 
esercizio3:
1-square in html;
2-hover su square;
3-temporizzo la trasformazione.
*/

.ex-3-square {
  transition: 2s;
}

.ex-3-square:hover {
  border-radius: 100%;
}



/* 
esercizio4:
1-square in html;
2-hover su square;
3-temporizzo il filtro.
*/

.ex-4-square:hover {
  filter: opacity(0);
}

.ex-4-square{
  transition: 1s;
}



/* 
esercizio5: 
1-suare in html;
2-temporizzo la transition;
3-hover su square e set tranform;
4-active su square e set transform.
*/

.ex-5-square {
  transition: 1s;
}

.ex-5-square:hover {
  transform: scale(3);
  border-radius: 100%;
}

.ex-5-square:active {
  transform: scale(.3);
}
/* chiedere perchè persiste il border-radius nell'active */



/* 
esercizio6: 
1-img in html;
2-hover su img;
3-set filter nell'hover.
*/

.ex-6-img:hover {
  filter: grayscale(1);
}



/* 
esercizio7: 
1-img in html;
2-temporizzare la transition in img;
3-hover & set filter
*/

.ex-7-img {
  transition: 1s;
}

.ex-7-img:hover {
  filter: grayscale(1);
}



/* 
esercizio8: 
1-img in html;
2-temporizzo transition in img;
3-hover su img;
4-set radius & filter nell'hover.
*/

.ex-8-img {
  transition: 2s;
}

.ex-8-img:hover {
  border-radius: 30px;
  filter: grayscale(.5) sepia(.5);
}



/* 
esercizio9: 
1-img in html;
2-temposizzo transition in img;
3-hover su img;
4-set radius, filter & scale nell'hover.
*/

.ex-9-img {
  transition: 2s;
}

.ex-9-img:hover {
  border-radius: 30px;
  filter: grayscale(.5) sepia(.5);
  scale: 1.5;
}



/* 
esercizio10: 
1-icon in html;
2-set animation nell'icon;
3-set keyframes.
*/

.ex-10-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(1turn);
  }
}



/* 
esercizio11: 
1-icon in html;
2-hover su icon;
3-set animation nell'icon;
4-set keyframes.
*/

.ex-11-icon:hover {
  animation: spin 2s linear;
}

@keyframes spin {
  0%{
    transform: rotate(0);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(0);
  }
}



/* 
esercizio12:
1-trovare il bottone ed i 2 div in html;
2-hover al bottone e set animation per il top;
3-set keyframes del top;
4-hover al bottone e set animation per il bottom;
5-set keyframes per il bottom.
*/

/* top part */

.ex-12-button:hover .ex-12-top-white {
  animation: moveTopWhite 2s linear;
}
@keyframes moveTopWhite {
  0% {
      left: 10%;
  }
  50% {
      left: calc(100% - 60px);
  }
  100% {
      left: 10%;
  }
}

/* bottom part */

.ex-12-button:hover .ex-12-bottom-white {
  animation: moveBottomWhite 2s linear;
}

@keyframes moveBottomWhite {
  0%{
    right: 10%;
  }
  50%{
    right: calc(100% - 60px);
  }
  100%{
    right: 10%;
  }
}